@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(0deg, rgba(11, 36, 71, 0.7), rgba(11, 36, 71, 0.7)), url(../assets/img/img1.jpg);
  background-size: cover;
}

/* LOGIN */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Montserrat";
  margin-top: cover;
  margin-bottom: cover;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Montserrat";
  margin-top: cover;
  margin-bottom: cover;
}

.box {
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgb(56, 56, 56), 0 32px 64px -48px rgba(128, 128, 128, 0.5);
}

.from-box {
  width: 450px;
  margin: 0px 10px;
}

#login {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
  text-align: center;
}

#sign-up {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
  text-align: center;
}

label {
  font-size: 16px;
}

.field {
  display: flex;
  margin-bottom: 10px;
  padding: 0px 0px;
  flex-direction: column;
}

.input input {
  height: 40px;
  width: 100%;
  font-size: 25px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px xolid #ccc;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#btn2 {
  height: 35px;
  border: 0;
  border-radius: 5px;
  color: #efefef;
  cursor: pointer;
  font-size: 20px;
  font-family: "Montserrat";
}

#btn2 {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background: #0b2447;
  margin-top: 10px;
  padding: 0px 10px;
}

#btn2:hover {
  opacity: 0.82;
}
.submit {
  width: 100%;
}

.links {
  margin-bottom: 15px;
}

.field a input {
  text-align: center;
  justify-content: center;
  width: 500px;
}
