* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #0b2447;
  --secondary-color: white;
  --shadow: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  padding: 40px 100px;
}

.nav-logo {
  font-weight: 900;
  font-size: 24px;
  color: var(--primary-color);
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items a {
  font-weight: 500;
  margin: 0 25px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  transition: 0.3s;
}

.nav-items .button {
  padding: 10px 25px;
  border-radius: 10px;
  border-style: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.3s;
}

.nav-items a:hover {
    transform: scale(1.1);
}

.nav-items .button:hover {
    transform: scale(1.1);
  }
  

.rooms {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.rooms h3 {
  padding: 15px;
  color: var(--primary-color);
}

.rooms {
    display: grid;
}

.room {
    margin: 20px 0;
}

.room-card {
  padding: 0 20px;
  display: inline-flex;
  width: 850px;
  height: 200px;
  background-color: rgba(11, 36, 71, 0.2);
  box-shadow: 0 4px 8px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
  border-radius: 20px;
}

.room-pic {
  display: flex;
  align-items: center;
}

.room-card img {
  width: 300px;
  height: 165px;
  border-radius: 10px;
}

.room-detail {
  width: 500px;
  margin: 30px;
  color: var(--primary-color);
}

.room-detail h4 {
  margin-bottom: 5px;
}

.room-detail p {
  font-weight: 500;
}

.room-detail .text-2 {
  margin-top: 30px;
}

.room-card a button {
  margin-top: 130px;
  padding: 10px;
  align-items: end;
  width: 120px;
  border-style: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.room-card a button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer {
    height: 100px;
    background-color: var(--primary-color);
  }
